*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}.navbar{
     position: relative;
    top: 0;
    left: 0;
    z-index:1000;
    background-color: black;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    
}
.navbar-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(./amazonlogo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
#deliver{
    color: #cccccc;
    font-size: 0.8 rem;
    margin-left: 14px;
    margin: 2px;;
}
.navbar-loc{
    padding: 2px;
}
#india{
    color:white;
    font-size: 1 rem;
}
.icon{
    display:flex;
    align-items: center;
    color: #f7f3f3;
}
.navbar-search{
    display:flex;
    height: 40px;
    width: 580px;
    background-color: chocolate;
    justify-content: space-evenly;
    border-radius: 5px;
}
.search{
    width: 50px;
    background-color: #cccccc;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.navbar-search input{
    width: 100%;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.border1{
    border: none;
}
.border1:hover{
    border:2px solid chocolate;
}
.sign{
    color: #f7f3f3;
    
}
span{
    font-size: 0.75rem;
    margin-left: 4px;
}
#act{
    font-size: 0.9rem;
    font-weight: 680;
}
.cart{
    color: #f7f3f3;

}
.cart i{
    font-size: 30px;
    color: #f7f3f3;
    padding: 3px
    ;
}
.nav-lite{
    background-color: #222f3d;
    height: 40px;
    color: #f7f3f3;
    display: flex;
    align-items: center;
}
.all{
    color: rgb(246, 244, 244);
}
.others p{
    display: inline-flex;
    margin-left: 15px;
    ;
}
.hero-section{
    background-image: url(./heroamaazon.jpg);
    height: 400px;
    background-size: cover;
}
.shop-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 260px;
    
    background-color: #fff;
    padding: 21px 0px 15px;
    margin:15px;
}
.box1-content{
    margin-left:1rem;
    margin-right: 1rem;
}
.box-img{
    height: 270px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box1-content p{
    color:#007185;
}
.footer1{
    background-color: #2e3f52;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer2{
    background-color: #1e2934;
    height: 300px;
    color:white;
    display: flex;
    justify-content: space-evenly;
    
}
ul a{
    color: white;
    display: block;
    text-decoration: none;
    ;
}
ul{
    margin-top: 20px;
}
.footer3{
    background:#1e2934;
    height: 50px;
    color: white;
    border-top: #f7f3f3 0.4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    height: 50px;
    width: 70px;
  
}
.footer4{
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lastline{
    color: #fff;
    margin: 5px;
    font-size: 1rem;
}
.lastline a{
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    
}